.brand-logo {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav ul li a {
    padding: 0 15px;
}    

.margin-b {
    margin-bottom: 10px;
}

.margin-l {
    margin-left: 10px;
}

.flashes {
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-small {
    margin-left: 15px;
}



/* Media queries */


@media (max-width: 992px) {
    .brand-logo {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .brand-logo {
        font-size: 1rem;
        padding-left: 10px;
    }
}


