{% extends "index.html" %}
{% block content %}


<h3 class="center-align">Add a New Pet</h3>
<div class="row card-panel z-depth-3">
  <form class="col s12" action="{{ url_for('add_pet') }}" method="POST"  enctype="multipart/form-data">

    <!-- Pet name input -->
    <div class="row margin-b">
      <div class="input-field col s12">
        <input id="pet_name" name="pet_name" type="text" class="validate transparent-input" minlength="3" maxlength="15">
        <label for="pet_name" class="form-text">Pet Name:</label>
      </div>
    </div>
    <!-- Pet age input -->
    <div class="row margin-b">
      <div class="input-field col s12">
        <input id="pet_age" name="pet_age" type="number" class="validate transparent-input" min="0">
        <label for="pet_age" class="form-text">Age:</label>
      </div>
    </div>
    <!-- Pet breed category -->
    <div class="row margin-b">
      <div class="input-field col s12">
        <select id="pet_breed" name="pet_breed" class="validate transparent-input" required>
          <option value="" disabled selected >Choose your option</option>
          {% for breed in breeds %}
          <option value="{{ breed.pet_breed}}" class="transparent-input">{{ breed.pet_breed}}</option>
          {% endfor %}
        </select>
        <label for="form-select-1" class="form-text">Pet Breed:</label>
      </div>
    </div>
    <!-- Pet character description -->
    <div class="row margin-b">
      <div class="input-field col s12">
        <textarea id="pet_character" name="pet_character" class="materialize-textarea validate transparent-input" placeholder="Type piggy's character"
          minlength="5" maxlength="50"></textarea>
        <label for="pet_character" class="form-text">Pet Character:</label>
      </div>
    </div>

    <!-- Pet Photo Upload -->

    <div class="row margin-b">
      <div class="input-field col s12">
        <input type="file" name="pet_image" id="pet_image" class="validate transparent-input file-label" required>
        <label for="pet_image" class="form-text">Upload Pet Image:</label>
      </div>
    </div>

    <!-- Submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <button class="btn-large white-text indigo font-2 mb-4 " type="submit">
          Add Pet<i class="fas fa-plus-square margin-l"></i>
        </button>
      </div>
    </div>



  </form>
</div>
{% endblock %}