{% extends "index.html" %}
{% block content %}

<div class="row my-5">
	<div class="col text-center">
		<h2 class="fs-1 text-center font-secondary">Find Guinea pigs by Breeds</h2>
	</div>
</div>

<div class="row">
	<div class="col">
		{% if not breeds %}
            <h2 class="text-danger text-center">
                We couldn't find any breeds.
            </h2>
        {% else %}
			<div class="container-md">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
					{% for breed in breeds %}
						<div class="col my-3">
							<div class="card h-100">
								<!-- card image -->
								<img src="{{ url_for('static', filename='images/'+breed.pet_breed|replace(' ', '-')|lower+'.png') }}" alt="{{ breed.pet_name }}" class="card-img-top img-fluid breed">
								<!-- breed name -->
								<div class="card-body text-center">
									<div class="row">
										<div class="col">
											<h3 class="card-title fs-3">{{ breed.pet_breed }}</h3>
										</div>
									</div>
								</div>
								<!-- view pets by breed -->
								<div class="card-footer">
									<div class="row">
										<div class="col">
											<a href="{{ url_for('breed_details', breed_name=breed.pet_breed) }}" class="btn btn-lg text-white btn-color w-100 m-1">View Pets</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}