{% extends "index.html" %}
{% block content %}


<h3 class="center-align black-text">Edit Pet</h3>
<div class="row card-panel z-depth-3">
  <form class="col s12" action="{{ url_for('edit_pet',pet_id=pet._id) }}" method="POST"  enctype="multipart/form-data">

    <!-- Pet name input -->
    <div class="row mb-4">
      <div class="input-field col s12">
        <input id="pet_name" name="pet_name" type="text" class="validate" minlength="3" maxlength="15" value="{{ pet.pet_name }}">
        <label for="pet_name">Pet Name:</label>
      </div>
    </div>
    <!-- Pet age input -->
    <div class="row mb-4">
      <div class="input-field col s12">
        <input id="pet_age" name="pet_age" type="number" class="validate" min="0" value="{{ pet.pet_age }}">
        <label for="pet_age">Age:</label>
      </div>
    </div>
    <!-- Pet breed category -->
    <div class="row mb-4">
      <div class="input-field col s12">
        <select id="pet_breed" name="pet_breed" class="validate" required>
          <option value="" disabled >Choose your option</option>
          {% for breed in breeds %}
              {% if breed.pet_breed == pet.pet_breed %}
                 <option value="{{ breed.pet_breed}}" selected>{{ breed.pet_breed}}</option>
              {% else %}
          <option value="{{ breed.pet_breed}}">{{ breed.pet_breed}}</option>
              {% endif %}
          {% endfor %}

        </select>
        <label for="form-select-1">Pet Breed:</label>
      </div>
    </div>
    <!-- Pet character description -->
    <div class="row mb-4">
      <div class="input-field col s12">
        <textarea id="pet_character" name="pet_character" class="materialize-textarea validate" placeholder="Type piggy's character"
          minlength="5" maxlength="50">
          {{- pet.pet_character -}}
        </textarea>
        <label for="pet_character">Pet Character:</label>
      </div>
    </div>

    <!-- Pet Photo Upload -->

    <div class="row mb-4">
      <div class="input-field col s12">
        <input type="file" name="pet_image" id="pet_image" class="validate">
        <label for="pet_image">Upload Pet Image:</label>
      </div>
    </div>

    <!-- Edit button -->
    <div class="row">
      <div class="col s12 center-align">
         <!-- Cancel button -->
          <a href="{{ url_for('my_pets') }}" class="btn-large btn-color white-text font-2">
            Cancel<i class="fas fa-times-circle ml-2"></i>
          </a>
        <button class="btn-large btn-color white-text font-2" type="submit">
         Edit Pet<i class="fas fa-edit ml-2"></i>
        </button>
      </div>
    </div>



  </form>
</div>
{% endblock %}