{% extends "index.html" %}
{% block content %}

<h3 class="indigo-text center-align">My Pets</h3>
<div class="row">
    {% for pet in pets %}
    <div class="col s12 m4 l3">
            <div class="card small center-align">
                <div class="card-image">
                    <img src="{{ pet.image_url }}" alt="{{ pet.pet_name }}" class="responsive-img">
                    <span class="card-title">{{ pet.pet_name }}</span>
                </div>
                <div class="card-content">
                    <p>Age: {{ pet.pet_age }} years old</p>
                    <p>Character: {{ pet.pet_character }}</p>
                    <p>Breed: {{ pet.pet_breed }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_pet', pet_id=pet._id) }}" class="btn indigo">Edit</a>
                    <a href="{{ url_for('delete_pet', pet_id=pet._id) }}" class="btn indigo">Delete</a>
                </div>
            </div>
        </div>
    {% else %}

    <h3 class="indigo-text center-align">You have not added any pets yet.</h3>
    
    {% endfor %}
</div>

{% endblock %}
