{% extends "index.html" %}
{% block content %}

    
<h3 class="center-align font-2 mb-6">Welcome to Piggy Profiles & Pics Hub</h3>

<h5 class="center-align font mb-6 indigo-text">Here you can find profiles and pictures of adorable guinea pigs pets added by their owner!</h5>

<div class="row">
  {% for pet in pets %}
  <div class="col s12 m3">
      <div class="card">
          <a class="modal-trigger" href="#modal{{ pet.pet._id }}">
          <div class="card-image">
              {% if pet.pet.image_url %}
              <img src="{{ pet.pet.image_url }}" alt="{{ pet.pet.pet_name }}">
              {% else %}
              <img src="placeholder.jpg" alt="Placeholder">
              {% endif %}
              <span class="card-title">{{ pet.pet.pet_name }}</span>
          </div>
          </a>
          <div class="card-content">
            <div class="row">
                <div class="col s10">
                <p><strong>Breed:</strong> {{ pet.pet.pet_breed }}</p>
                <p><strong>Age:</strong> {{ pet.pet.pet_age }} years old</p>
                <p><strong>Character:</strong> {{ pet.pet.pet_character }}</p>
                <p><strong>Owner:</strong> {{ pet.pet.owner }}</p>
                {% if session.user %}
                    {% if session.user|lower == pet.pet.owner|lower %}
                    <div class="card-action">
                        <a href="{{ url_for('edit_pet', pet_id=pet.pet._id) }}" class="btn indigo">Edit Pet</a>
                        <a href="{{ url_for('delete_pet', pet_id=pet.pet._id) }}" class="btn red">Delete Pet</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
                <div class="col s2">
                    <p>Likes: {{pet.likes}}</p>
                    {% if session.user %}
                     {% if pet.liked %}
                            <a href="{{ url_for('unlike_pet', pet_id=pet.pet._id) }}">Unlike</a>
                        {% else %}
                            <a href="{{ url_for('like_pet', pet_id=pet.pet._id) }}">Like</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
          </div>
      </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal{{ pet.pet._id }}" class="modal">
    <div class="modal-content">
        <h4>{{ pet.pet.pet_name }}</h4>
        <img src="{{ pet.pet.image_url }}" alt="{{ pet.pet.pet_name }}" class="responsive-img">
        <p><strong>Breed:</strong> {{ pet.pet.pet_breed }}</p>
        <p><strong>Age:</strong> {{ pet.pet.pet_age }} years old</p>
        <p><strong>Character:</strong> {{ pet.pet.pet_character }}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
  {% endfor %}
</div>

{% endblock %}
